
<div class="row">
  <h2> Profile Page </h2>

<h3><%= @user.first_name %></h3>

<h3> Tasks </h3>

<% @user.tasks.each do |task| %>
  <%= form_for(task) do |f| %>
    <%= task.chore.title %>
    <label> Task Completed? </label>
    <%= f.check_box :completed %>
  <% end %>
<% end %>


<%= link_to 'Edit Profile', edit_user_registration_path(@user) %>
