
<div class="row">
  <h2> Profile Page </h2>

  <div id='app'></div>


<h3><%= @user.first_name %></h3>

<div class="row">
  <div class="large-12 columns">
    <p class="text-center">Tasks</p>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <th> Task </th>
        <th class="text-center"> Status </th>
      </thead>
      <tbody>
        <% @user.tasks.each do |task| %>
        <tr>
          <td> <%= task.chore.title %> </td>
          <td class="text-center">
              <%= form_for(task) do |f| %>
                <% if task.completed == true %>
                  <span class="success label text-white" > Complete </span>
                <% else %>
                  <%= f.check_box :completed %>
                  <%= f.submit "Update" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<%= link_to 'Edit Profile', edit_user_registration_path(@user) %>
