<div id="landing">

  <div class="login-panel">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="lg-offset-3 lg-col-6">
        <form>
          <div class="form-group">
            <label for="email">Email address:</label>
            <%= f.email_field :email, placeholder: "Email", autofocus: true,  class: "form-control", id: "email" %>
          </div>

          <div class="form-group">
            <label for="pwd">Password:</label>
            <%= f.password_field :password, placeholder: "Password", autofocus: true, class: "form-control", id: "pwd"%>
          </div>

          <div class="checkbox">
            <% if devise_mapping.rememberable? -%>
              <label><input type="checkbox"> Remember me</label>
              <% end %>
          </div>

          <%= f.submit "Log in" %>

          <div class="form-group">
            <%= render "devise/shared/links" %>
          </div>
        </form>
      </div>
    </div>

  <% end %>
</div>
