<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="large-offset-3 large-6 columns medium-offset-3 medium-6 columns">
      <div class="login-panel">
        <p class="log_in">Log in to the ChoreStore!</p>

        <div class="row collapse">
          <div class="small-10 small-centered columns">
            <%= f.email_field :email, placeholder: "Email", autofocus: true %> <br />
          </div>
        </div>

        <div class="row collapse">
          <div class="small-10 small-centered columns">
            <%= f.password_field :password, placeholder: "Password", autofocus: true %> <br />
          </div>
        </div>

        <div class="row collapse">
        <% if devise_mapping.rememberable? -%>
          <div class="small-10 small-centered columns">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="login_actions">
          <%= f.submit "Log in" , class: "hollow button"%>
        </div>

        <div class="shared_links">
          <%= render "devise/shared/links" %>
        </div>

    </div>
  </div>
</div>

<% end %>
