<div id="landing">
  <div class="hero">
    <div class="hero-overlay">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <br />
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class='row'>
                  <div class="col-md-8 col-md-offset-2" >
                    <div class="panel panel-default panel-transparent">
                      <div class="panel-heading text-center">
                        <h4 class="text-white">Welcome to ChoreStore!</h4>
                      </div>

                      <div class="panel-body">
                      <%= render "layouts/flash_notice" %>

                        <div class="form-group">
                          <div class="input-group input-group-lg transparent-input">
                            <span  class = "input-group-addon transparent-input"><i class="fa fa-user-circle text-white" aria-hidden="true"></i></span>
                            <%= f.text_field :first_name, placeholder: "First Name", autofocus: true, class: "form-control text-white transparent-input" %>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="input-group input-group-lg transparent-input">
                            <span  class = "input-group-addon transparent-input" ><i class="fa fa-user-circle text-white" aria-hidden="true"></i></span>
                            <%= f.text_field :last_name, placeholder: "Last Name", autofocus: true, class: "form-control text-white transparent-input"%>
                          </div>
                        </div>

                        <div class="form-group">
                            <p class="text-white"> Please sign up with a phone number to check out the text messaging feature</p>
                          <div class="input-group input-group-lg transparent-input">
                            <span  class = "input-group-addon transparent-input" id = "usericonemail"><i class="fa fa-phone-square text-white" aria-hidden="true"></i></span>
                            <%= f.text_field :phone_number, placeholder: "1234567890", autofocus: true, class: "form-control transparent-input text-white" %>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="input-group input-group-lg transparent-input">

                            <span  class = "input-group-addon transparent-input" id = "usericonemail"><i class="fa fa-envelope-o text-white" aria-hidden="true"></i></span>
                            <%= f.email_field :email, placeholder: "Email", autofocus: true, class: "form-control transparent-input text-white" %>
                          </div>
                        </div>

                        <div class="form-group text-white">
                          <% if @minimum_password_length %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                          <% end %><br />
                          <div class="input-group input-group-lg">
                            <span  class = "input-group-addon transparent-input" ><i class="fa fa-key text-white" aria-hidden="true"></i></span>
                            <%= f.password_field :password, placeholder: "Password", autocomplete: "off", class: "form-control text-white transparent-input" %>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="input-group input-group-lg transparent-input">
                            <span  class = "input-group-addon transparent-input" ><i class="fa fa-key text-white" aria-hidden="true"></i></span>
                            <%= f.password_field :password_confirmation, placeholder: "Password confirmation", autocomplete: "off", class: "form-control transparent-input text-white" %>
                          </div>
                        </div>

                        <div class="col-md-6 col-md-offset-3 text-center">
                          <div class="form-group">
                            <div class="input-group input-group-lg text-center transparent-input">
                              <%= f.submit "Sign Up", class:"signup-link" %>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="panel-footer transparent-input">
                        <p class="text-center text-white"> Already have an account? <br /><%= render "devise/shared/links" %> </p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
      	</div>
      <% end %>
    </div>
  </div>
</div>
